

@media (max-width: 1200px) and (min-width: 992px){

    .about-image img{
        width:500px ;
        height: auto;
        max-width: 100%;
    }



}
@media (max-width: 992px) and (min-width: 768px){

    .about-image img{
        width: 100%;
    }

    .slider-content{
        width: 100%;
    }


}